@use "mixins/mixins.scss" as *;


@include b(tree){
  display: inline-block;
  width: 100%;
};
@include b('tree-node'){
  padding: 7px 0;
  font-size: 16px;
  &:hover{
    background-color: rgb(236, 236, 240);
  }
  @include e("content"){
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
  }
  @include e('expand-icon'){
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    &.expanded{
      transform: rotate(90deg);
    }
  }
};

